:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --frayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}


/* font-size en rem no en px */
body{
    font-size: 0,9375rem;
    background-color: var(--light-gray);
    font-family: 'Outfit', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20% 25%;
}

.container {
    max-width:30vh;
    padding: 20px 20px ;
    border-radius: 30px;
    background-color: var(--white); 
}

.card img {
    max-width:30vh;
    border-radius:5%;
}

h2 {
    font-weight: 700;
    text-align: justify;
    padding: 0 25px;
    color: var(--dark-blue);
}

p {
    font-weight: 400;
    text-align: justify;
    padding: 0 25px;
    color: var(--frayish-blue)   
}


