:root {
    --white: hsl(0, 0%, 100%),
    --light-gray: hsl(212, 45%, 89%),
    --frayish-blue: hsl(220, 15%, 55%),
    --dark-blue: hsl(218, 44%, 22%)
}

body{
font-size: 15px;

}

/* Weights: 400, 700¨*/