:root{
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --Light-grayish-blue: hsl(210, 46%, 95%);
}

.botonImageShare{
    background-image: url(/images/icon-share.svg);
    background-size: cover; /* Ajusta la imagen al tamaño del color*/
    width: 15px;
    height: 13px;
    border: none;
    cursor: pointer;
}

.desplegable{
    display:none; /* Por defecto esta oculto */
    position:absolute; /* Posicionamiento absoluto para superponer*/
    background-color: var(--very-dark-grayish-blue);
    min-width: 120px;
    /* z-index: 1; */
}

.botonUrl1{
    background-image: url(/images/icon-facebook.svg);
    background-size: cover;
    width: 20px;
    height: 20px;
}

/* 
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

> 💡 These are just the design sizes. Ensure content is responsive and meets WCAG requirements by testing the full range of screen sizes from 320px to large screens.

## Colors



## Typography

### Body Copy

- Font size: 13px

### Headings

- Family: [Manrope](https://fonts.google.com/specimen/Manrope)
- Weights: 500, 700

## Icons

We provide SVGs for the social icons. But please feel free to use a font icon library if you like. Some suggestions can be found below:

- [Font Awesome](https://fontawesome.com)
- [IcoMoon](https://icomoon.io)
- [Ionicons](https://ionicons.com)
*/