@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root{
    /* Primary */
    --nutmeg: hsl(14, 45%, 36%);
    --dark-raspberry: hsl(332, 51%, 32%);
    /* Neutral*/
    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-grey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);
}

body{
    background-color: var(--eggshell);
    font-family: "Outfit", sans-serif;
    margin: 0;
    
    
}

.container{
    background-color: var(--white);
    padding: 1.5em;
    border-radius: 1%;
    align-items: center;
    width: 60%;
    margin: 5em auto;
    max-width: 700px;
    max-height: 100%;
    
}

img{
    width: 100%;
    border-radius: 2%;
}

.introdution {
    color: var(--wenge-brown);
}

.preparation{
    background-color: var(--rose-white);
    padding: 1em 1.2em;
    border-radius: 5%;
}

.preparation li, .ingredients li, .instructions li{
    color: var(--wenge-brown);
    padding-left: 1em;
    
}

.preparation li::marker{
    color: var(--dark-raspberry);
}

.ingredients {
    border-bottom: 0.1em solid var(--light-grey);
    
}

.ingredients ul{
    padding-inline-start: 1.4em;
}

.ingredients li::marker{
    color: var(--nutmeg);
}

.instructions{
    border-bottom: 0.1em solid var(--light-grey);
}

.items {
    color: var(--wenge-brown);
    display: flex;
    align-items: center;
    padding-left: 0.2em;
}

.num {
    color: var(--nutmeg);
    font-weight: bold;
    margin-right: 1em;  
}


.nutrition {
    text-align: left;
    width: 100%;
    margin-top: 1rem;
}

th{
    padding-left: 1.5em;
    font-weight: normal;
    border-bottom: 0.1em solid var(--light-grey);
    width: 13%;
}


.nutritional-values{
    font-weight: 600;
    color: var(--nutmeg);
    border-bottom: 0.1em solid var(--light-grey);
    padding-left: 15em;
}

tr:last-child td, tr:last-child th {
    border-bottom: 0;
}

h1{
    font-family: "Young Serif", serif;
    font-weight: 400;
}

h2{
    font-family: "Young Serif", serif;
    font-weight: 700;
    color: var(--nutmeg);
}

h3{
    font-family: "Outfit", sans-serif;
    color: var(--dark-raspberry);
}

.attribution{
    
    bottom: 0;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 1em 0;
}

