@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);
}

body{
    background-color: var(--yellow);
    text-align: justify;
    font-family: "Figtree", sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    

}

.container{
    background-color: var(--white);
    border: black 1px solid;
    border-radius: 5%;
    box-shadow: 10px 10px 0px 0px #000000;
    margin: 1em;
    padding: 1em;
    width: 375px;
    transform: scale(0.9)
}

#img {
    border-radius: 10%;
    align-items: center;
    width: 100%;
}

#avatar{
    width: 48px;
    height: 48px;;
}

.tag {
    background-color: var(--yellow);
    font-weight: 800;
    padding: 0.5em;
    border-radius: 10%;
    display: inline-block;
}

h1{
    font-weight: 800;
    text-align: center;
}

p{
    font-size: 1rem;
    
}

.date-published {
    color: var(--black);
}

.author{
    display: flex;
    flex-direction: center;
    
}

.text {
    color: var(--grey);
    text-align: left;
}

.text-avatar{
    margin: 1em;
    font-weight: 800;
}

footer{
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    
}


@media (min-width: 768px) {
    .container {
        max-width: 375px;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1440px; 
    }
}